body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1080px;
  /* padding: */
}
.mainContainer {
  display: flex;
  flex-grow: 1;
}

.mainContainer--left {
  max-width: 70%;
  flex-grow: 1;
}

.mainContainer--right {
  width: 30%;
  background-color: aqua;
}

.navbar {
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.navbar p {
  padding: 10px;
}

.postPage {
  padding: 50px;
}